.info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.text {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.iconUser {
    color: blue;
    margin-right: 6px;
}

.iconPhone {
    color: goldenrod;
    margin-right: 6px;
}

.delete {
    background-color: #007bff;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 6px 10px;
    cursor: pointer;
}

.delete:hover {
    background-color: #0056b3;
}
